[submodule "omnifocus-plugin-checklist"]
	path = checklist
	url = https://github.com/xbot/omnifocus-plugin-checklist.git
[submodule "find-in-flomo"]
	path = find-in-flomo
	url = https://github.com/xbot/omnifocus-plugin-find-in-flomo.git
[submodule "convert-to-projects"]
	path = convert-to-projects
	url = https://github.com/xbot/omnifocus-plugin-convert-to-projects.git
[submodule "generate-work-journal"]
	path = generate-work-journal
	url = https://github.com/xbot/omnifocus-plugin-generate-work-journal.git
[submodule "open-jira-ticket"]
	path = open-jira-ticket
	url = https://github.com/xbot/omnifocus-plugin-open-jira-ticket.git
[submodule "reschedule-objects"]
	path = reschedule-objects
	url = https://github.com/xbot/omnifocus-plugin-reschedule-objects.git
[submodule "reset-review-status"]
	path = reset-review-status
	url = https://github.com/xbot/omnifocus-plugin-reset-review-status.git
